{% extends "base.html" %}
{% block content %}
<div class="container mt-3 text-center fs-4">
    <div class="col-md-4 offset-4">
        <h1>Product</h1>
        <form action="." method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="bg-success p-2 text-white">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"  name="name" value="{{products.name}}"required>
            </div>
            <div class="mb-3">
                <label for="pictureFormControlInput1" class="form-label">Discription</label>
                <input type="text" class="form-control" id="pictureFormControlInput1"  name="discription" value="{{products.discription}}" required>
            </div>
        
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">price</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" name="price" value="{{products.price}}" required>
            </div>
            <div class="mb-3">
                <label for="pictureFormControlInput1" class="form-label">Image</label>
                <input type="file" class="form-control" id="pictureFormControlInput1"  name="image" value="{{products.image}}" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>

</div>
{% endblock %}